
:root {
    font-family: Arial, Helvetica, sans-serif;
}

.Hobby1 {
    background-color: honeydew;
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 3px 5px black;
}

.List1, .Table1, .Form1 {
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px gray;
}

.Hobby1 h2, .Hobby1 .hobby1img {
    text-align: center;
}

.Hobby1 img {
    border-radius: 20px;
}

.Table1 .collapse {
    border: 3px solid gray;
    border-collapse: collapse;
    text-align: center;
}

.Table1 td {
    border: 1px solid gray;
}


.Form2, .Table2 {
    input[type="text"], textarea, select {
        display: block;
    }

    .collapse {
        border-collapse: collapse;
        border: 2px solid #45475a;

        th, td {
            border: 1px solid #45475a;
        }
    }

    .bottom_margin {
        margin-bottom: 20px;
    }
}

.Hobby2 {
    margin-left: 50px;
    margin-right: 50px;

    #bird {
        text-align: center;
    }
}

.Intro {
    /*background-color: black;*/
    color: white;
    padding: 30px;
    margin: auto;
    width: 70%;
    background-image: linear-gradient(dodgerblue, blue);
    border-radius: 30px;
    align-items: center;
}
